<div class="container">
  <h1>The Longest Word Game</h1>

  <div class="header-card">
    <h3>********* Welcome to the longest word-game! *********</h2>

    <p>Here is your grid:</p>
    <%= @letters %>
  </div>

  <div>
    <h3>*****************************************************</h2>
    <p>What is the longest word you can find?</p>
    <div class="form-group">
      <form action="/score" method="post" data-turbo="false">
        <input type="text" class="form-control" name="word">
        <input type="submit" type="button" class="btn btn-primary" value="Play">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :letters, @letters%>
      </form>
    </div>
    <h2>*****************************************************</h2>
  </div>
</div>
